html
{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after
{
    box-sizing: inherit;
}

body
{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/* Diseño de contenedor */

.Login
{
    margin: 3rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 5rem;
}

/* Diseño de imagen */

.img img
{
    width: 60rem;
}

.img
{
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Diseño de login */

.log
{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Diseño de sing in */

.SingWith
{
    width: 100%;
    display: flex;
    align-items: center;
}

.Red
{
    width: 4rem;
    height: 4rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border-radius: 50%;
    cursor: pointer;
}

/* Diseño de inputs */

.Formulario input
{
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.Link
{
    width: 100%;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cntChb input, label
{
    cursor: pointer;
}

.Link a
{
    text-decoration: none;
    color: #000;
}